*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    margin-top: 0%;
    height: 60px;
    width: 100%;
    display: flex;
    background-color: rgba(139, 134, 134, 0.550);
    align-items: center;
    justify-content: space-between;
    font-weight:bold;
  }
  
  .icon {
    padding-left: 0%;
    padding-top: 10px;
    padding-right: 10rem;
    background: url("../assets/route-logo-2770A12B82-seeklogo.com.png") left no-repeat;
    background-size: contain;
    height: inherit;
  }
  
  .linkwrapper a {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    color:black;
    font-weight: bold;
  }
  
  
  .linkwrapper a:hover{
    background-color:rgba(11, 11, 11, 0.861);
    color:white
  }


form{
    margin-top: 20px;
}
select {
    margin-left: 1%;
    height: 40px;
    width:85%;
    font-weight: 600;
    background-color: bisque;
}
table{
    margin:10px ;
}

.img2{
    height: 300px;
    width: 400px;
}

body{
    background-color: rgba(241, 243, 218, 0.849);
  }