*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}

.header {
    height: 60px;
    width: 100%;
    display: flex;
    background-color:  rgba(139, 134, 134, 0.550);;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .icon {
    padding-left: 0%;
    padding-top: 10px;
    padding-right: 10rem;
    background: url("../assets/route-logo-2770A12B82-seeklogo.com.png") left no-repeat;
    background-size: contain;
    height: inherit;
  }
  
  .linkwrapper a {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    color:black;
    font-weight: bold;
  }

  .form{
    margin-left:20px;
    margin-top: 20px;
    height:300px;
    width:400px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.549);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.142);
    justify-content: space-evenly;

  }

  .src{
    padding-top: 30px;
  }

  .dd{
    height: 30px;
    width: 200px;
    text-decoration: none;
  }

  .but{
    height:30px;
    width:200px;
    text-decoration: none;
  }

  .image{
    height: 100vh;
    width: 100%;
    background: url("../assets/View-of-Metro-Coach-1.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px 5px #282a2d;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.linkwrapper a:hover{
    background-color:rgba(11, 11, 11, 0.861);
    color:white;
  }

  .myform{
    padding-top: 20%;
    margin-left:5px;
    margin-top: 20px;
    height:300px;
    width:400px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.549);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.142);
    justify-content: space-evenly;
  }

  .payment{
    margin-left:20px;
    height:270px;
    width:400px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.549);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.142);
    justify-content: space-evenly;
  }

  table{
    width: 100%;
  }

  .pay label{
    align-items: flex-start;
  }

   button{
    width: 170px;
    width: 40p;
    font-weight: 600;
  }
  
