<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ticket.css">
    <title>
        ticket booking
    </title>
    <style>
        .login {
            position: relative;
            animation: route 3s;
            animation-direction: normal;
            animation-timing-function: ease-in-out;
        }
    </style>
    <script>
        function dropdownChange() {
            var s_s = document.getElementById("s_s").value;
            var d_s = document.getElementById("d_s").value;

            if (s_s == d_s) {
                alert("Both station can not be same");
            }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body align="center" ng-app="">
    <div class="header">
        <div class="icon"></div>
        <div class="links">
            <div class="linkwrapper">
                <a href="../index.html">HOME</a>

                <span class="seperator">
                    <a href="../html/login.php">LOGIN</a>
                </span>

                <span class="seperator">
                    <a href="../html/ticketbooking.html">TICKET BOOKING</a>
                </span>

                <span class="seperator">
                    <a href="../html/map.html">MAP</a>
                </span>

                <span class="separator">
                    <a href="../html/all.html">ATTRACTION</a>
                </span>
            </div>
        </div>
    </div>
    <div>
        <div class="image">
            <div class="login">
                <table>
                    <tr>
                        <td>
                        <td>
                            <form class="form">
                                <div class="src">
                                    <lable><b>Source station</b></lable><br>
                                    <select class="dd" name="s_s" id="s_s" onchange="dropdownChange();">
                                        <option value="0">Select station</option>
                                        <option value="A.E.C(sabarmati)">A.E.C(sabarmati)</option>
                                        <option value="A.P.M.C">A.P.M.C</option>
                                        <option value="AMRAIVADI">AMRAIVADI</option>
                                        <option value="APPAREL PARK">APPAREL PARK</option>
                                        <option value="COMMERCE SIX ROAD">COMMERCE SIX ROAD</option>
                                        <option value="DOORDARSHAN KENDRA">DOORDARSHAN KENDRA</option>
                                        <option value="GANDHIGRAM">GANDHIGRAM</option>
                                        <option value="GHEE KANTA">GHEE KANTA</option>
                                        <option value="GUJARAT UNIVERSITY">GUJARAT UNIVERSITY</option>
                                        <option value="GURUKUL ROAD">GURUKUL ROAD</option>
                                        <option value="JIVRAJ">JIVRAJ</option>
                                        <option value="KALUPUR RAILWAY STATION">KALUPUR RAILWAY STATION</option>
                                        <option value="KANKARIA STATION">KANKARIA STATION</option>
                                        <option value="MOTERA STADIUM">MOTERA STADIUM</option>
                                        <option value="THALTEJ">THALTEJ</option>
                                    </select>
                                </div>
                                <br></br>
                                <div class="desti">
                                    <lable><b>Destination station</b></lable><br>
                                    <select class="dd" name="d_s" id="d_s" onchange="dropdownChange();">
                                        <option value="0">Select station</option>
                                        <option value="A.E.C(sabarmati)">A.E.C(sabarmati)</option>
                                        <option value="A.P.M.C">A.P.M.C</option>
                                        <option value="AMRAIVADI">AMRAIVADI</option>
                                        <option value="APPAREL PARK">APPAREL PARK</option>
                                        <option value="COMMERCE SIX ROAD">COMMERCE SIX ROAD</option>
                                        <option value="DOORDARSHAN KENDRA">DOORDARSHAN KENDRA</option>
                                        <option value="GANDHIGRAM">GANDHIGRAM</option>
                                        <option value="GHEE KANTA">GHEE KANTA</option>
                                        <option value="GUJARAT UNIVERSITY">GUJARAT UNIVERSITY</option>
                                        <option value="GURUKUL ROAD">GURUKUL ROAD</option>
                                        <option value="JIVRAJ">JIVRAJ</option>
                                        <option value="KALUPUR RAILWAY STATION">KALUPUR RAILWAY STATION</option>
                                        <option value="KANKARIA STATION">KANKARIA STATION</option>
                                        <option value="MOTERA STADIUM">MOTERA STADIUM</option>
                                        <option value="THALTEJ">THALTEJ</option>
                                    </select>
                                </div>
                                <br></br>
                                <div><b>Passenger:</b></div>
                                <div><input type="number"  style="height: 30px;width: 200px ;" placeholder="Enter the number of passanger" min="1" max="10"></div>

                            </form>
                        </td>
            </div>
        </div>
    </div>


    <td>

        <form class="myform">
            <h2>Choose payment method</h2><br><br>
            <input type="radio" value="deb" ng-model="myVar"><b>Debit Card/Credit Card</b><br><br>
            <input type="radio" value="upi" ng-model="myVar"><b>UPI</b><br>
        </form>
    </td>

    <td class="payment">
        <div ng-switch="myVar">
            <div ng-switch-when="deb">
                <div class="pay">
                <label>Enter card number:</label>
                <input type="text"><br>

                <label>Enter CVV:</label>
                <input type="text" ><br>

                <label>Expire Date:</label>
                <input type="text" placeholder="month/year"><br><br>

                <button onclick="qrGen()">PAY</button><br><br>
                </div>
            </div>
            <div ng-switch-when="upi">
                <label>Enter UPI-ID </label>
                <input type="text"><br><br>

                <button onclick="qrGen()">PAY</button><br><br>
            </div>
        </div>
        <div class="container">
            <div id="imgBox">
                <img src="" id="qrImg">
            </div>
        </div>

        <script>

            let imgBox = document.getElementById("imgBox");
            let qrImg = document.getElementById("qrImg");
            let s_s = document.getElementById("s_s");

            function qrGen() {
                qrImg.src = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=" + s_s.value + " to " + d_s.value;
            }
        </script>
    </td>
    </tr>
    </table>
</body>

</html>
